.container{
    margin: 0 auto;
    max-width: 500px;
    min-width: 375px;
    margin-top: 44px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100vh - 80px); 
}

.footer{
    height: 60px;
    position: sticky;
    bottom: 0;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index:5;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #1E78DD;
    text-align: center;
}

.footer div{
    font-size: 24px;
    color: #1E78DD
}

.error_none{
    display: none;
  }
  
  .error_block{
      width: 300px;
       height: 50px;
       text-align: center;
       padding: 15px;
       border: 3px solid #323D47;
       background-color: white;
       border-radius: 10px;
       color: #323D47;
       display: block;
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       margin: auto;
     }
     
